<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="elmah.mysql" version="1.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Facebook" version="6.0.24" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="iTextSharp" version="5.2.0" />
  <package id="MySql.Data" version="6.5.4" />
  <package id="MySQL.Data.Entities" version="6.5.4.0" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="System.Linq.Dynamic" version="1.0.0" targetFramework="net40" />
</packages>